---
---
<a href="/" class="flex items-center space-x-2 sm:space-x-3">
  <img 
    src="/images/rwanda-coat-of-arms.png" 
    alt="Rwanda Government Logo" 
    class="h-10 w-10 sm:h-12 sm:w-12 md:h-14 md:w-14 object-contain"
  />
  <div class="flex flex-col">
    <span class="text-base sm:text-lg md:text-xl font-bold text-gray-900 dark:text-white">Rwanda</span>
    <span class="text-xs sm:text-sm text-gray-600 dark:text-gray-300">Government Services</span>
  </div>
</a>